.header{
    background-color: #528B55;
    border-bottom: 2px solid #FFB948;
    position: fixed;
    top: 0;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header span{
    font-size: 2rem;
    color: white;
    font-weight: 500;
}

.header a{
    text-decoration: none;
    color: white;
    padding-inline: 0.5rem;
    font-size: 1.125rem;
}